.about {
    margin-bottom: 50px;
}

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img {
    width: 350px;
    height: 550px;
    margin-left: 70px;
}

.about_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about_content {
    margin-left: 60px;
}

.about_content h1 {
    margin-bottom: 20px;
    color: #FE5D26;
}

.about_content p {
    margin-bottom: 10px;
    color: #1d1d1d;
}

.about_content p:nth-child(5) {
    margin-bottom: 50px;
}

.about_content a {
    padding: 10px 15px;
    background-color: #FE5D26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
}

.about_content a:hover {
    background-color: #1d1d1d;
    color: #FE5D26;
}