.about_container {
    padding-bottom: 50px;
}


.about_container h1 {
    margin-bottom: 20px;
    color: #FE5D26;
    text-align: center;
    background-image: linear-gradient(260deg, #FE5D26, rgb(82, 76, 76));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img {
    width: 370px;
    height: 270px;
    margin-left: 20px;
    margin-right: 10px;
}

.about_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about_content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.about_content p {

    color: #1d1d1d;
}

.about_content p:nth-child(4) {
    margin-bottom: 20px;
}

.about_content a {
    padding: 10px 15px;
    background-color: #FE5D26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
}

.about_content a:hover {
    background-color: #1d1d1d;
    color: #FE5D26;
}