.category_item_container h1 {
    text-align: center;
    margin-bottom: 70px;
}

.category_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    text-align: center;
    margin: 0 auto;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    margin-bottom: 50px;
    justify-items: center;
}

.full h1 {
    margin-bottom: 70px;
}

.category_item {
    display: block;
    width: 350px;
    height: 250px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    box-shadow: 7px 0 20px 5px rgba(66, 68, 90, 1);
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.category_item:hover {
    transform: scale(1.05);
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1d1dd0;
    z-index: 4;
}

.overlay span {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: -20px;
    right: -30px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.overlay span:hover {
    color: red;
    transform: scale(1.20);
}

.modal_img {
    max-width: 80%;
    height: 90%;

    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal_img img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    transition: ease-in-out 0.5s;
}
.arrow {
    z-index: 1;
}
.arrow button {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    background: transparent;
    border: 0;
    outline: 0;
    
}

.arrow button:hover {
    transform: scale(1.15);
    color: #ffbb9b;
}

.arrow_right {
    position: absolute;
    right: 5px;
    top: 50%;
}

.arrow_left {
    position: absolute;
    left: 5px;
    top: 50%;
}