.footer {
    background-color: #1d1d1d;
}

.footer_container {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_menu h3 {
    margin-bottom: 15px;
    color: #fff;
}

.footer_menu ul li {
    list-style-type: none;
}

.footer_menu ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.footer_menu ul li a:hover {
    text-shadow: 0px 0px 1px rgb(255, 255, 255), 0 0 0px rgb(255, 255, 255);
}

.footer_menu ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer_menu ul li a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #FE5D26;
    transition: ease-in-out 0.5s;
}

.footer_menu ul li a:hover::before{
    width: 100%;
}