.galery_container {
    text-align: center;
}

.galery_container h1 {
    margin-bottom: 80px;
}

.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 50px;
}

.category_card:hover img {
    filter: brightness(1);
}

.category_card:hover a {
    color: #FE5D26;
}

.category_card img {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    transition: ease-in-out 0.5s;
    border-radius: 10px;
}

.category_card_title {
    text-align: center;
}

.category_card_title a{
    color: #000;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out 0.5s;
    font-weight: bold;
}
