.header {
    padding-top: 5px;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    width: 110px;
    height: 115px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    list-style-type: none;
}

.nav ul li:not(:last-child) {
    margin-right: 40px;
}

.nav ul li a,
.nav ul li .rules {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: ease-in-out 0.5s;
    display: flex;
    align-items: center;
}

.nav ul li a::before,
.nav ul li .rules::before {
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #FE5D26;
    transition: ease-in-out 0.5s;
}

.nav ul li a:hover::before,
.nav ul li .rules:hover::before{
    width: 100%;
}

.nav ul li .active {
    text-shadow: 0px 0px 1px #000, 0 0 0px #000;
  }
  
.nav ul li .active::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #FE5D26;
}

.rules {
    background-color: transparent;
    border: 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.drop_menu {
    position: relative;
}

.sub_menu {
    opacity: 0;
    position: absolute;
    transition: ease-in-out 0.5s;
    width: 0;
}


.nav ul .drop_menu .sub_menu li {
    opacity: 0;
    border-bottom: 1px solid #fff;
    display: none;
}

.nav ul .drop_menu:hover .sub_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -75%;
    z-index: 1;
    width: 200px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(2px);
    /* box-shadow: 0 0 50px 10px #534a47 inset; */
    border-radius: 5px;
    
}

.nav ul .drop_menu:hover .sub_menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0 !important;
    opacity: 1;
    padding: 5px;
    width: 100%;
    transition: ease-in-out 0.5s;
}
.nav ul .drop_menu:hover .sub_menu a {
    color: #fff;
    display: block;
}

.sub_menu a:hover {
    transform: scale(1.10);
}

.nav ul .drop_menu .sub_menu li a::before {
    content: '';
    display: none;
}

.burger {
    display: none;
    justify-content: flex-end;
    align-items: center;
  }

.burger .home_link {
  margin-right: 15px;
  font-size: 25px;
  
}

.burger .home_link a {
  color: #1d1d1d;
  transition: ease-in-out 0.5s;
}

.burger .home_link a:hover {
  color: #FE5D26;
  
}
  
  .burger label {
    cursor: pointer;
    position: relative;
    top: 0;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  
  input.burger__check {
    display: none;
  }
  
  .burger label span,
  .burger label span::before,
  .burger label span::after {
    position: absolute;
    top: 5px;
    display: block;
    transition: all 0.5s ease;
    width: 30px;
    height: 5px;
    background-color: #FE5D26;
  }
  
  .burger label span::before {
    content: "";
    clear: both;
    top: 7px;
  }
  
  .burger label span:after {
    content: "";
    clear: both;
    top: -7px;
  }
  
  input.burger__check:checked ~ label > span {
    transform: rotate(140deg);
    width: 4px;
    height: 20px;
    background-color: #ffffff;
    position: fixed;
    top: 15px;
    right: 40px;
  }
  
  input.burger__check:checked ~ label > span::after {
    width: 4px;
    height: 20px;
    top: 0px;
    right: 0px;
    transform: rotate(85deg);
    background-color: #ffffff;
  }
  
  input.burger__check:checked ~ label > span:hover,
  input.burger__check:checked ~ label > span:hover::after {
    background-color: #f33848;
  }
  
  input.burger__check:checked ~ label > span::before {
    display: none;
  }
  
  .burger-nav {
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(27, 27, 25, 0.7);
    right: -100%;
    top: 0;
    text-align: center;
    z-index: 3;
    transition: all 1000ms cubic-bezier(0.28, -0.315, 0.685, 1.39);
    box-shadow: 0 0 100px 1px #838282 inset;
    opacity: 0;
    height: 100%;
  }
  
  input.burger__check:checked ~ .burger-nav {
    backdrop-filter: blur(2px);
    right: 0;
    transition-duration: 1.25s;
    opacity: 1;
  }
  
  .burger-nav .burger_menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding: 40px 30px 0 30px;
    transition-duration: .25s;
  }
  
  .burger-nav li {
    margin-right: 0;
  }
  
  .burger-nav li a{
    margin-bottom: 5px;
    border-radius: 15px;
    display: block;
    position: relative;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
  }

.burger_accordion_menu {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .burger-nav li .rules {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
  } 
  
.burger_menu li .active {
  transform: scale(1.10);
  color: #FE5D26;
}

.burger_accordion_menu.disabled {
  color: #fff;
}

.burger_accordion_menu.active {
  transform: scale(1);
  color: #FE5D26;
}

.burger_sub_menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.burger_sub_menu li a {
  margin-bottom: 5px;
}

.burger_sub_menu.sub_menu_disabled {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.burger_sub_menu.sub_menu_active {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    
}

.burger-nav .burger_links a {
  font-size: 30px;
  animation: none;
}

.burger-nav .burger_links a:first-child {
  margin-right: 20px;
  color: rgb(16, 120, 255);
}

.burger-nav .burger_links a:last-child {
  color: #ffffff;
}
