@keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }


.home_container {
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
}

.promo_block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1D1D1D;
    color: #fff;
    margin-bottom: 80px;
}

.promo_img {
    width: 270px;
    height: 400px;
}

.promo_img img {
    width: 100%;
    height: 100%;
}

.promo_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.promo_content .word {
    min-width: 100%;
    margin: auto;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 40px;
    margin-right: 25px;
}

.promo_content h2 {
    font-size: 40px;
    margin-bottom: 30px;
}


.promo_content a{
    padding: 10px 30px;
    background: linear-gradient(50deg, #FE5D26,rgb(100, 84, 84), #f89e80, #f86e40, rgb(92, 89, 89), #FE5D26);
    
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: ease-in-out 0.5s;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation: animate 8s infinite;
    background-position: 0 0;
}

.promo_content a:hover {
    box-shadow: 0 4px 15px 0 rgba(252, 85, 8, 0.75);
    color: #000;
    background-color: #FE5D26;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation: none;
}

.last_work {
    padding-bottom: 120px;
}

.work {
    margin-bottom: 30px;
}

.work_container {
    display: flex;
    justify-content: center;
    position: relative;
}

.work_content:first-child {
    margin-right: 90px;
}

.work_content:last-child {
    padding-left: 130px;
    display: flex;
    align-items: center;
}

.work_title{
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.work_title h3{
    position: relative;
    margin-bottom: 40px;
}

.work_title h3::before {
    content: '';
    position: absolute;
    bottom: 50%;
    right: -200px;
    display: block;
    width: 180px;
    height: 3px;
    background-color: #FE5D26;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.work_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.work_img.hill {
    width: 690px;
    height: 400px;
}

.work_img.deer{
    width: 500px;
    height: 350px;
}

.work_img::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: -200px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FE5D26;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.work_img img {
    width: 100%;
    height: 100%;
}

.work_img h4 {
    writing-mode: tb-rl;
    transform:rotate(180deg);
    position: absolute;
    top: 20%;
}

.work_img h4:first-child {
    left: -60px;
}

.work_img h4:last-child {
    right: -90px;
    padding: 20px 10px;
    border-radius: 2px;
    color: #fff;
    background-color: #FE5D26;
}

.img_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.img_content p{
    font-weight: bold;
}

.services {
    margin-bottom: 60px;
}

.services_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_container h2 {
    position: relative;
    margin-bottom: 70px;
}
.services_container h2::before{
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    width: 350px;
    height: 3px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    background-color: #FE5D26;
}

.services_content {
    margin-right: 80px;
}

.services_content p {
    margin-bottom: 25px;
}

.services_content ul li {
    font-weight: bold;
    margin-bottom: 15px;
    list-style-type: none;
    position: relative;
}

.services_content ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: linear-gradient(0deg, rgba(0,0,0,0.79) 0%, rgba(255,111,0,1) 100%);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    left: -20px;
    bottom: 20%;
}

.services_img {
    margin-left: 80px;
    width: 200px;
    height: 300px;
    position: relative;
    margin-bottom: 60px;
}

.services_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.services_img img:nth-child(1){
    right: -80%;
    bottom: -15%;
}

.services_img img:nth-child(2){
    z-index: 1;
    right: -30%;
    bottom: -30%;
}

.services_content a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1D1D1D;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

.services_content a:hover {
    background-color: #FE5D26;
    color: #1D1D1D;
}


